/* TODO
    Need to refactor this to be component specific
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-size: 16px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.data-grid div.content .table {
    text-align: left;
    width: 100%;
}

.data-grid div.content .table table {
    width: 100%;
}

.data-grid div.content .table .Cname {
    width: 28%;
}

.data-grid div.content .table .Broker {
    width: 20%;
}

.data-grid div.content .table .Ctype {
    width: 15%;
}

.data-grid div.content .table .Coname {
    width: 26%;
}

.data-grid div.content .table table th, .data-grid div.content .table table td {
    border: 1px solid #adadad;
    padding: 7px 12px;
}

.data-grid div.content .table table tr.total-record-row {
    margin-left: 4px;
}
.total-record-row {
    margin-left: 10px;
    margin-top: 4px;
    margin-right: 10px;
}

td {
    font-size: 13px;
}

.data-grid div.content .table table tr.table-header, .data-grid div.content .table table tr.table-header:hover {
    background: #54636b;
    color: #fff;
}

.data-grid div.content .table table tr {
    cursor: pointer;
}

.data-grid div.content .table table tr:hover {
    background: #f4f4f4;
}

.no-data-available {
    width: auto;
    background-color: #ff00004d;
    height: 25px;
    text-align: center;
}

.search-input {
    margin-left: 5px;
    padding: 7px;
    color: #66727c;
    border: none;
    width: 100px;
    outline: none;
    min-width:50%;
    max-width:100%;
    border-radius: 3px;
    background: #fcfcfc;
    box-shadow: 0 2px 2px 0 #dddddd;
}
.search-input-column {
    color: #66727c;
    padding: 6px 7px;
    border: 1px solid #e6e4e4;
    overflow: unset;
    width: 100%;
    outline: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 #edebeb;
}
.search-input-column:focus {
    background-color: #fefefe;
    box-shadow: inset 4px 6px 6px rgba(0, 0, 0, 0.01), 0 1px 1px rgba(0, 0, 0, 0.1);
}
.input-grid-label {
    position:relative;
    padding: 7px 10px;
}
.search {
    position: absolute;
    font-size:13px;
    top: 1px;
    cursor: pointer;
    right: 10px;
    padding: 5px 9px;
    width: auto;
    box-shadow: none;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #edeaea;
    color: #6a6c6c;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.search:hover {
    transition: 0.3s all;
    background: #e1dcdc;
}
.search__circle {
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    border-radius: 100px;
}

.search__rectangle {
    position: absolute;
    right: 4px;
    bottom: 6px;
    width: 7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #333;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.sort-order-up .sort-order-down {
    display: flex;
    height: 5px;
}
.table-footer-wrapper {
    background: rgb(216, 209, 209);
    border: 1px solid #adadad;
    padding: 7px 12px;
}

.table-footer-data {
    float: right;
    border: none;
    padding: 0px;
}
.pagination-wrapper {
    display: flex;
    padding: 2px;
}
.pagination-info {
    fontSize: 13px;
    margin-top: 11px;
}
body{
    /*font-family: "Times New Roman";*/
    font-family: 'Poppins', sans-serif;
}
.page-number{
    color: #767575;
    font-size: 16px;
    margin-left: 6px;
    margin-right: 6px;
}
.page-number-arrow-for-margin {
    display: inline-block;
    margin-top: 0;
}
.pagination-info {
    margin-top: 6px;
    display: inline-block !important;
}
.page-number-arrow {
    background-color: transparent !important;
    color: #888787;
    font-size: 22px !important;
    cursor: pointer;
    padding:0;
    border: none;
    box-shadow: none !important;
    border-radius: 4px !important;
}
.page-number-arrow-disabled {
    margin: 1px 1px;
    border-radius: 8px;
    box-shadow: none;
    color: #c8c4c4;
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    font-size: 22px;
    animation-name: disabled-arrow;
    animation-duration: 0.5s;
    transition: 0.3s all;
}
.arrowIcon{
    margin: 1px 1px;
}
.render-table {
    margin: 0 10px 0;
    padding: 0;
    border-top: 1px solid #c2c1bf ;
    border-right: 1px solid #c2c1bf ;
    border-bottom: 1px solid #c2c1bf;
    width: auto;
    height: auto;
}
.table-body-row{
    font-size: 15px;
    background-color: #f8f7f7;
}
.table-body-row:nth-child(2n+1) {
    font-size: 15px;
    background-color: rgba(249, 249, 249, 0.53);
}

.table-row {
    display: flex;
    width: 100%;
}
.row {
    overflow: hidden;
    width: 100%;
    border-right: 0;
    border-top: 0;
    border-left: 1px solid #c2c1bf;
    border-bottom: 1px solid #c2c1bf;
    color: #625f5f;
}
.table-body .table-body-row:last-child .row {
    border-bottom: 0;
}
.table-cell{
    font-size: 14px;
    padding: 6px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.table-heading{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size:16px ;
    padding: 6px;
    width: 100%;
    color: #696767;
}

.table-head{
    display: flex;
    width: 100%;
}
.table-footer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
}
.table-footer-row{
    float: right;
    margin-top: 2px;
    margin-right: 20px;
}
.data-grid-icon {
    margin-right: 5px;
    font-size: 10px;
}
.table-footer-cell{
    height: auto;
    margin-right: 0 ;
    float: right;
    text-align: right;
    display: inline-block;
    border-radius: 3px;
    padding: 8px 0 8px ;
    font-size: 16px;
    font-weight: 500;
    color: #676767;
    border: none;
    background-color: transparent ;
}
.search-bar{
    flex-basis: 33%;
}
.filter-column{
    margin: 0 9px 7px 5px;
    display: flex;
}
.header-column {
    border-right: 0 solid #c2c1bf;
    border-left: 1px solid #c2c1bf;
    border-bottom: 0.7px solid #e8e8ea;
    cursor: pointer;
    border-top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #f2f2f7;
}
.search-input-bar {
    padding: 7px;
    border: none;
    background: #fcfcfc;
    outline: none;
    box-shadow: 0 2px 2px 0 #dddddd;
    border-radius: 3px;
}
.grid-export{
    display: flex;
    justify-content: flex-end;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0 9px;
    font-weight: 600;
    text-decoration: none;
    border: none ;
    color: #7d7c7c ;
    border-radius: 4px;
    box-shadow: 0 1px 2px #cbc9c9;
    background: #ebebec;
}
.link:hover {
    background: #dddddd;
    transition:0.3s all;
}
.link:active {
    background-color: rgba(65, 67, 64, 0.15);
    color: #085d66;
    box-shadow:none;
    text-decoration: none;
}
.clearFilterButton{
    border-radius: 3px;
    cursor: pointer;
    background-color: #888787;
    border: none;
    outline: none;
    color: #fff;
    margin-right: 0;
    padding: 8px 12px;
    font-size: 12px;
    box-shadow: 0 1px 2px 0 #dbdbdb;
}
.clearFilterButton:hover {
    transition: 0.3s all;
    background: #747474;
}
.wrapper-pagination-search{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 15px;
}
.render-message-method {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(215, 234, 235, 0.53);
    color: #fff;
    z-index: 99;
}
.render-message {
    padding: 20px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #085d66;
    border-right: 0px;
    border-top: 0px;
    color: #085d66;
}
.disable-export-link {
    pointer-events: none;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 4px;
    font-size: 12px;
    padding: 4px 4px 0px;
    text-decoration: none;
    border: 2px solid #a9a9a959;
    outline: medium none;
    border-radius: 6px;
    color: #9e9d9f;
    background-color: #e7e7e7;
}
.pagination-text {
    padding:0 3px;
}
.grid-button {
    padding: 6px 10px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    background: #807f7f;
    border-radius: 3px;
}
.grid-button:hover {
    transition: 0.3s all;
    background: #706e6e;
}
.cell__grid__select-column input[type = "checkbox"] {
    height: 20px;
    width: 20px;
    cursor: pointer;
    box-shadow: none;
}
.sort-order-up svg,
.sort-order-down svg {
    animation-name: sort-order;
    animation-duration: 0.5s;
    transition: 0.4s ease-in-out;
    font-size:12px;
    margin-right: 3px;
}
@keyframes sort-order {
    0% {
        width: 0px;
    }
    50% {
        width: 10px;
    }
    100% {
        width: 11px;
    }
}
@media (max-width: 768px) {
    .search-bar {
        flex-basis: 50%;
    }
    .search-input {
        min-width: 46%;
    }
}
@media (max-width: 640px) {
    .wrapper-pagination-search {
        display: block;
        margin:0 auto;
    }
    .header-column {
        padding: 0 1px 10px 0;
    }
    .pagination-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid-button-wrapper {
        white-space: pre-wrap;
    }
    .table-footer-cell {
        float: none;
        text-align: center;
        display: block;
        padding:0 0 8px;
    }
    .table-cell {
        padding: 6px 6px;
    }
    .pagination-info {
        margin-top: 0;
    }
    .page-number {
        color: #696868;
    }
    .link {
        padding: 8px;
    }
    .grid-export {
        margin-top: 10px;
    }
    .render-table {
        margin: -5px 10px;
    }
}
@media (max-width: 360px) {
    .search-input {
        min-width: 46%;
    }
    .clearFilterButton {
        padding: 8px 6px;
    }
}
@media (max-width: 320px) {
    .search-input {
        min-width: 40%;
    }
}
